{% extends 'vermillion/base.html' %}
{% load bootstrap4 %}
{% block subtitle %}Index{% endblock %}

{% block content %}
    {% if services %}
        <table>
            <tr>
                <th>Service Name</th>
                <th>Port Mappings</th>
                <th>Status</th>
            </tr>
            {% for service in services %}
                <tr>
                    <td>{{ service.name }}</td>
                    <td>
                        {% if service.port_mappings.all %}
                            {% for port_mapping in service.port_mappings.all %}
                                <p>{{ port_mapping.container_port }} -> {{ port_mapping.traefik_port }}</p>
                            {% endfor %}
                        {% else %}
                            <p>No port mappings defined</p>
                        {% endif %}
                    </td>
                    <td>{{ service.get_status }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No services configured</p>
    {% endif %}
{% endblock %}
