<html>
    <head>
        <title>I am a simple test.  Please don't hurt me.</title>
    </head>
    <body>
    {% if error %}
        <p>{{ error }}</p>
    {% elif container_data %}
        <table>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        {% for container in container_data %}
            <tr>
                <td>{{ container.name }}</td>
                <td>{{ container.status }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>There are no containers.  There is only Zuul.</p>
    {% endif %}
    </body>
</html>
